
body {
	padding-top: 50px;
}
.contenido-principal {
    margin-left: 240px;
    padding-right: 2.0rem;
}
.card-header.bg-primary {
    background: linear-gradient(90deg, #2563eb 0%, #1e40af 100%) !important;
}
.input-group-text.bg-light {
    background: #f9f7f1 !important;
}
.table-primary th {
    background: #e3eaff !important;
    color: #1e293b;
}
   
